
@model List<Employee>
@{
}

<partial name="_Notification" />

<h2 class="text-center mb-5"> List of Employees</h2>
<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Employee" asp-action="Create">New Employee</a>
    </div>
    <div class="col">

    </div>

</div>

<table class="table mb-2">
    <thead> 
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Position</th>
            <th>Department</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var emp in Model)
        {
            <tr>
                <td>@emp.Id</td>
                <td>@emp.Name</td>
                <td>@emp.Position</td>
                <td>@emp.Department</td>
                <td>@emp.Email</td>
     
                <td style="white-space:nowrap; margin-top: 5px;">
                    <a class="btn btn-primary btn-sm" asp-controller="Employee" asp-action="Edit" asp-route-id="@emp.Id"> Edit</a>
                    <a class="btn btn-danger btn-sm" asp-controller="Employee" asp-action="Delete" asp-route-id="@emp.Id" 
                       onclick="return confirm('Are you sure want to delete employee @emp.Name ')">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>